.contact_information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 20px;
    gap: 60px;
    width: 500px;
    left: 100px;
    margin-top: 8500px;
   }
    
    .contact_content {
    text-align: left;
    gap: 12px;
    }
    
    .contact_title {
    color: #FFFFFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    width: 500px;
    height: 120px;
  
  
    }
    
    .contact_subtitle {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-bottom: 0;
    color: #FFFFFF80;
  
  
    }
    
    .contact_column {
    display: flex;
    flex-direction: column;
    }
    
    .contact_list {
    flex-direction: column;
    }
    
    .contact_subitem {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #FFFFFF80;
  
  
    }
    
    .contact_item {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    color: #FFFFFF;
  
    }

@media (max-width: 1230px) {
    .contact_information {
        order: -1;
        left: 0;
        margin: 0 auto;
        margin-bottom: 150px;
    }
}

@media (max-width: 666px) {
    .contact_information {
        padding: 10px 5px;
        gap: 10px;
        width: 328px;
        left: 0px;
       }
        
        .contact_content {
        gap: 12px;
        }
        
        .contact_title {
        color: #FFFFFF;
        font-family: "Bebas Neue", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        width: 328px;
        height: 20px;
      
      
        }
        
        .contact_subtitle {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        margin-bottom: 0;
        color: #FFFFFF80;
        display: flex;
      
        }
        
        .contact_column {
        display: flex;
        flex-direction: column;
        }
        
        .contact_list {
        flex-direction: column;
        }
        
        .contact_subitem {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: left;
        color: #FFFFFF80;
      
      
        }
        
        .contact_item {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        text-align: left;
        color: #FFFFFF;
      
        }
}